In [418]:
import pandas as pd
file_to_load = "purchase_data.csv"
purchase_data_df = pd.read_csv(file_to_load)

Player Count

In [419]:
print('Total Players')
purchase_df2 = purchase_data_df.drop_duplicates(subset=['SN'])
player_count = purchase_df2['SN'].count()
player_count

Total Players

576

Purchasing Analysis (Total)

In [420]:
nunique = purchase_data_df['Item ID'].nunique()
average = round(purchase_data_df['Price'].mean(), 2)
count = purchase_data_df['Price'].count()
total = purchase_data_df['Price'].sum()

In [421]:
summary_df = pd.DataFrame({'Number of Unique Items': [nunique], 'Average Price': [average], 'Number of Purchases': [count],
                           'Total Revenue': [total]})
summary_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179           3.05                  780        2379.77

Gender Demographics

In [422]:
df = purchase_df2.set_index('Gender', 'SN')
gender_count = purchase_df2['Gender'].value_counts()
gender_average = purchase_df2['Gender'].value_counts(normalize=True)
gender_average100 = purchase_df2['Gender'].value_counts(normalize=True).mul(100).round(2).astype(str) + '%'

In [423]:
summary_gender_df = pd.DataFrame({'Total Count': gender_count, 'Percentage of Players': gender_average100})
summary_gender_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

Purchase Analysis (Gender)

In [443]:
grouped_data_df = purchase_data_df.groupby(['Gender'])
gender_purchase_count = grouped_data_df['Price'].count()
gender_average = round(grouped_data_df['Price'].mean(), 2)
gender_total = grouped_data_df['Price'].sum()
total_purchase = grouped_data_df['Gender'].value_counts(normalize=True)
total_purchase_aver = (gender_total / gender_count).mean().round(2)

In [444]:
gender_summary_df = pd.DataFrame({'Purchase Count': gender_purchase_count, 
                                  'Average Purchase Price': gender_average,
                                  'Total Purchase Value': gender_total,
                                  'Avg Total Purchase per Person': total_purchase_aver})
gender_summary_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.20,361.94,4.37
Male,652,3.02,1967.64,4.37
Other / Non-Disclosed,15,3.35,50.19,4.37