In [33]:
#importDependencies
import pandas as pd
#Save path to data set in a variable
data_file = "purchase_data.csv"
#Use Pandas to read data
purchase_data_df = pd.read_csv(file_to_load)

Player Count

In [34]:
#print title
print('Total Players')
#remove duplicates
purchase_df2 = purchase_data_df.drop_duplicates(subset=['SN'])
#calculate total players
player_count = purchase_df2['SN'].count()
#print result
player_count

Total Players

576

Purchasing Analysis (Total)

In [35]:
#calculate unique items
nunique = purchase_data_df['Item ID'].nunique()
#calculate average
average = round(purchase_data_df['Price'].mean(), 2)
#calculate number of purchases
count = purchase_data_df['Price'].count()
#calculate total
total = purchase_data_df['Price'].sum()

In [36]:
#Creating a DataFrame using the prior calculations
summary_df = pd.DataFrame({'Number of Unique Items': [nunique], 'Average Price': [average], 'Number of Purchases': [count],
                           'Total Revenue': [total]})
summary_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179           3.05                  780        2379.77

Gender Demographics

In [37]:
#Creating an index
df = purchase_df2.set_index('Gender', 'SN')
#calculating the total count per gender
gender_count = purchase_df2['Gender'].value_counts()
#calculating the percentage of players per gender
gender_average = purchase_df2['Gender'].value_counts(normalize=True)
gender_average100 = purchase_df2['Gender'].value_counts(normalize=True).mul(100).round(2).astype(str) + '%'

In [38]:
summary_gender_df = pd.DataFrame({'Total Count': gender_count, 'Percentage of Players': gender_average100})
summary_gender_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

Purchase Analysis (Gender)

In [39]:
#grouping the gender data together
grouped_data_df = purchase_data_df.groupby(['Gender'])
#calculating the purchase count per gender
gender_purchase_count = grouped_data_df['Price'].count()
#calculating the average purchase price per gender
gender_average = round(grouped_data_df['Price'].mean(), 2)
#calculating the total purchase value per gender
gender_total = grouped_data_df['Price'].sum()
#total_purchase = grouped_data_df['Gender'].value_counts(normalize=True)
total_purchase_aver = (gender_total / gender_count).mean().round(2)

In [40]:
#Creating a DataFrame using the prior calculations
gender_summary_df = pd.DataFrame({'Purchase Count': gender_purchase_count, 
                                  'Average Purchase Price': gender_average,
                                  'Total Purchase Value': gender_total,
                                  'Avg Total Purchase per Person': total_purchase_aver})
gender_summary_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.20,361.94,4.37
Male,652,3.02,1967.64,4.37
Other / Non-Disclosed,15,3.35,50.19,4.37

Age Demographics

In [41]:
#purchase_data_df.loc[0, 'Age']
#pd.cut(purchase_data_df['Age'], bins=8, right=True)

year_df = pd.cut(purchase_data_df['Age'], bins=8, labels=['<10', '10-14', '15-19', '20-24', 
                                                          '25-29', '30-34', '35-39', '40+'])
age_breakdown_df = pd.DataFrame(year_df)
age_breakdown_df

       Age
0    15-19
1    35-39
2    20-24
3    20-24
4    20-24
..     ...
775  15-19
776  15-19
777  15-19
778    <10
779  20-24

[780 rows x 1 columns]