In [526]:
#importDependencies
import pandas as pd
#Save path to data set in a variable
data_file = "purchase_data.csv"
#Use Pandas to read data
purchase_data_df = pd.read_csv(file_to_load)

Player Count

In [527]:
#print title
print('Total Players')
purchase_df2 = purchase_data_df.loc[:, ['Gender', 'SN', 'Age', 'Price']]
#remove duplicates
purchase_df2 = purchase_df2.drop_duplicates(subset=['SN'])
#calculate total players
player_count = purchase_df2['SN'].count()
#print result
player_count

Total Players

576

Purchasing Analysis (Total)

In [528]:
#calculate unique items
nunique = purchase_data_df['Item ID'].nunique()
#calculate average
average = round(purchase_data_df['Price'].mean(), 2)
#calculate number of purchases
count = purchase_data_df['Price'].count()
#calculate total
total = purchase_data_df['Price'].sum()

In [529]:
#Creating a DataFrame using the prior calculations
summary_df = pd.DataFrame({'Number of Unique Items': [nunique], 'Average Price': [average], 'Number of Purchases': [count],
                           'Total Revenue': [total]})
summary_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179           3.05                  780        2379.77

Gender Demographics

In [530]:
#Creating an index
df = purchase_df2.set_index('Gender', 'SN')
#calculating the total count per gender
gender_count = purchase_df2['Gender'].value_counts()
#calculating the percentage of players per gender
gender_average = purchase_df2['Gender'].value_counts(normalize=True)
gender_average100 = purchase_df2['Gender'].value_counts(normalize=True).mul(100).round(2).astype(str) + '%'

In [531]:
summary_gender_df = pd.DataFrame({'Total Count': gender_count, 'Percentage of Players': gender_average100})
summary_gender_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

Purchase Analysis (Gender)

In [532]:
#grouping the gender data together
grouped_data_df = purchase_data_df.groupby(['Gender'])
#calculating the purchase count per gender
gender_purchase_count = grouped_data_df['Price'].count()
#calculating the average purchase price per gender
gender_average = round(grouped_data_df['Price'].mean(), 2)
#calculating the total purchase value per gender
gender_total = grouped_data_df['Price'].sum()
#total_purchase = grouped_data_df['Gender'].value_counts(normalize=True)
total_purchase_aver = (gender_total / gender_count).mean().round(2)

In [533]:
#Creating a DataFrame using the prior calculations
gender_summary_df = pd.DataFrame({'Purchase Count': gender_purchase_count, 
                                  'Average Purchase Price': gender_average,
                                  'Total Purchase Value': gender_total,
                                  'Avg Total Purchase per Person': total_purchase_aver})
gender_summary_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.20,361.94,4.37
Male,652,3.02,1967.64,4.37
Other / Non-Disclosed,15,3.35,50.19,4.37

Age Demographics

In [534]:
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_ages = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

purchase_df2['Age Ranges'] = pd.cut(purchase_df2['Age'], age_bins, labels=group_ages)

age_count = purchase_df2['Age Ranges'].value_counts()

age_percentage = (age_count / player_count).mul(100).round(2).astype(str) + '%'

age_summary_df = pd.DataFrame({'Total Count': age_count, 'Percentage of Players': age_percentage})
age_summary_df = age_summary_df.sort_index()
age_summary_df

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

Purchasing Analysis (Age)

In [535]:
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_ages = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

purchase_df2['Age'] = pd.cut(purchase_df2['Age'], age_bins, labels=group_ages)
#grouped_age_df = purchase_df2.groupby(['Age'])
age_purchase_count = purchase_df2['Price'].count()
age_average = round(purchase_df2['Price'].mean(), 2)
age_total = purchase_df2['Price'].sum()
total_age_purchase_aver = (age_total / age_purchase_count).mean().round(2)
age_purch_summary_df = pd.DataFrame({'Age Range': group_ages, 'Purchase Count': age_purchase_count, 
                                  'Average Purchase Price': age_average,
                                  'Total Purchase Value': age_total,
                                  'Avg Total Purchase per Person': total_age_purchase_aver}).sort_index()
#age_purch_summary_df = age_purch_summary_df.sort_index()
age_purch_summary_df

,Age Range,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
0,<10,576,3.07,1768.65,3.07
1,10-14,576,3.07,1768.65,3.07
2,15-19,576,3.07,1768.65,3.07
3,20-24,576,3.07,1768.65,3.07
4,25-29,576,3.07,1768.65,3.07
5,30-34,576,3.07,1768.65,3.07
6,35-39,576,3.07,1768.65,3.07
7,40+,576,3.07,1768.65,3.07

Top Spenders

In [536]:
grouped_spender_df = purchase_data_df.groupby(['SN'])
spender_purchase_count = grouped_spender_df['Price'].count()
spender_average = round(grouped_spender_df['Price'].mean(), 2)
spender_total =grouped_spender_df ['Price'].sum()
spender_summary_df = pd.DataFrame({'Purchase Count': spender_purchase_count, 
                                  'Average Purchase Price': spender_average,
                                  'Total Purchase Value': spender_total})


spender_summary_df.sort_values(['Total Purchase Value'], inplace=True, ascending=False)
spender_summary_df.head(5)

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                    3.79                 18.96
Idastidru52               4                    3.86                 15.45
Chamjask73                3                    4.61                 13.83
Iral74                    4                    3.40                 13.62
Iskadarya95               3                    4.37                 13.10

Most Popular Items

In [540]:
grouped_items_df = purchase_data_df.groupby(['Item ID', 'Item Name'])
item_purchase_count = grouped_items_df['Price'].count()
item_average = round(grouped_items_df['Price'].mean(), 2)
item_total =grouped_items_df ['Price'].sum()
item_summary_df = pd.DataFrame({'Purchase Count': item_purchase_count, 
                                  'Average Purchase Price': item_average,
                                  'Total Purchase Value': item_total})


item_summary_df.sort_values(['Purchase Count'], inplace=True, ascending=False)
item_summary_df.head(5)

,,Purchase Count,Average Purchase Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.61,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
132,Persuasion,9,3.22,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77

Most Profitable Items

In [ ]:
item_summary_df.sort_values(['Total Purchase Value'], inplace=True, ascending=False)
item_summary_df.head(5)