In [190]:
import pandas as pd
file_to_load = "purchase_data.csv"
purchase_data_df = pd.read_csv(file_to_load)

Player Count

In [191]:
print('Total Players')
purchase_data_df['SN'].nunique()

Total Players

576

Purchasing Analysis (Total)

In [192]:
nunique = purchase_data_df['Item ID'].nunique()
average = round(purchase_data_df['Price'].mean(), 2)
count = purchase_data_df['Price'].count()
total = purchase_data_df['Price'].sum()

In [193]:
summary_df = pd.DataFrame({'Number of Unique Items': [nunique], 'Average Price': [average], 'Number of Purchases': [count],
                           'Total Revenue': [total]})
summary_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179           3.05                  780        2379.77

Gender Demographics

In [196]:
df = purchase_data_df.set_index('Gender', 'SN')
gender_count = purchase_data_df['Gender'].value_counts()
gender_count

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [ ]:
summary_gender_df = pd.DataFrame({'Total Count': [count], 'Percentage of Players': [count.mean()]})
summary_gender_df