In [348]:
import pandas as pd
file_to_load = "purchase_data.csv"
purchase_data_df = pd.read_csv(file_to_load)

Player Count

In [349]:
print('Total Players')
purchase_df2 = purchase_data_df.drop_duplicates(subset=['SN'])
player_count = purchase_df2['SN'].count()
player_count

Total Players

576

Purchasing Analysis (Total)

In [350]:
nunique = purchase_data_df['Item ID'].nunique()
average = round(purchase_data_df['Price'].mean(), 2)
count = purchase_data_df['Price'].count()
total = purchase_data_df['Price'].sum()

In [351]:
summary_df = pd.DataFrame({'Number of Unique Items': [nunique], 'Average Price': [average], 'Number of Purchases': [count],
                           'Total Revenue': [total]})
summary_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179           3.05                  780        2379.77

Gender Demographics

In [352]:
df = purchase_df2.set_index('Gender', 'SN')
gender_count = purchase_df2['Gender'].value_counts()
gender_average = purchase_df2['Gender'].value_counts(normalize=True)
gender_average100 = purchase_df2['Gender'].value_counts(normalize=True).mul(100).round(2).astype(str) + '%'

In [353]:
summary_gender_df = pd.DataFrame({'Total Count': gender_count, 'Percentage of Players': gender_average100})
summary_gender_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

Purchase Analysis (Gender)

In [360]:
gender_purchase_count = purchase_data_df['Price'].count()
gender_average = round(purchase_data_df['Price'].mean(), 2)
gender_total = purchase_data_df['Price'].sum()

In [361]:
gender_summary_df = pd.DataFrame({'Number of Purchases': [gender_purchase_count], 'Average Price': [gender_average],
                                   'Total Revenue': [gender_total]})
gender_summary_df

   Number of Purchases  Average Price  Total Revenue
0                  780           3.05        2379.77