In [51]:
#importing Dependencies
import pandas as pd
#path to data set in variable
file_to_load = "purchase_data.csv"
#use Pandas to read data
purchase_data_df = pd.read_csv(file_to_load)

# Player Count

In [52]:
#pulling the information
purchase_df2 = purchase_data_df.loc[:, ['Gender', 'SN', 'Age', 'Price']]
#remove duplicates
purchase_df2 = purchase_df2.drop_duplicates(subset=['SN'])
#calculate total players
player_count = purchase_df2['SN'].count()
#print result
pd.DataFrame({'Total Players': [player_count]})

   Total Players
0            576

# Purchasing Analysis (Total)

In [53]:
#calculate unique items
nunique = purchase_data_df['Item ID'].nunique()
#calculate average
average = purchase_data_df['Price'].mean()
#calculate number of purchases
count = purchase_data_df['Price'].count()
#calculate total
total = purchase_data_df['Price'].sum()


#Creating a DataFrame using the prior calculations
summary_df = pd.DataFrame({'Number of Unique Items': [nunique], 'Average Price': [average], 'Number of Purchases': [count],
                           'Total Revenue': [total]})

#Data Mapping
summary_df ['Average Price'] = summary_df ['Average Price'].map('${:,.2f}'.format)
summary_df ['Number of Purchases'] = summary_df ['Number of Purchases'].map('{:,}'.format)
summary_df ['Total Revenue'] = summary_df ['Total Revenue'].map('${:,.2f}'.format)
summary_df = summary_df.loc[:, ['Number of Unique Items', 'Average Price', 'Number of Purchases', 'Total Revenue']]

#print results
summary_df

   Number of Unique Items Average Price Number of Purchases Total Revenue
0                     179         $3.05                 780     $2,379.77

# Gender Demographics

In [54]:
#creating an index
df = purchase_df2.set_index('Gender', 'SN')
#calculating the total count per gender
gender_count = purchase_df2['Gender'].value_counts()
#calculating the percentage of players per gender
gender_average100 = purchase_df2['Gender'].value_counts(normalize=True).mul(100).round(2).astype(str) + '%'

#setup DataFrame
summary_gender_df = pd.DataFrame({'Total Count': gender_count, 'Percentage of Players': gender_average100})
#print results
summary_gender_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

# Purchase Analysis (Gender)

In [55]:
#calculating the purchase count per gender
gender_purchase_count = purchase_data_df.groupby(['Gender']).count()['Price'].rename('Purchase Count')
#calculating the average purchase price per gender
gender_average = purchase_data_df.groupby(['Gender']).mean()['Price'].rename('Average Purchase Price')
#calculating the total purchase value per gender
gender_total = purchase_data_df.groupby(['Gender']).sum()['Price'].rename('Total Purchase Value')
#calculating average total purchase
total_purchase_aver = gender_total / summary_gender_df['Total Count']

#Creating a DataFrame using the prior calculations
gender_summary_df = pd.DataFrame({'Purchase Count': gender_purchase_count, 
                                  'Average Purchase Price': gender_average,
                                  'Total Purchase Value': gender_total,
                                  'Avg Total Purchase per Person': total_purchase_aver})

#Data mapping
gender_summary_df ['Purchase Count'] = gender_summary_df ['Purchase Count'].map('{:,}'.format)               
gender_summary_df ['Average Purchase Price'] = gender_summary_df ['Average Purchase Price'].map('${:,.2f}'.format)
gender_summary_df ['Total Purchase Value'] = gender_summary_df ['Total Purchase Value'].map('${:,.2f}'.format)
gender_summary_df ['Avg Total Purchase per Person'] = gender_summary_df ['Avg Total Purchase per Person'].map('${:,.2f}'.format)               
gender_summary_df = gender_summary_df.loc[:,['Purchase Count','Average Purchase Price',  'Total Purchase Value', 'Avg Total Purchase per Person']]                 

#print results                  
gender_summary_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

# Age Demographics

In [56]:
#creating the bins in which Data will be held
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
#creating the names for the bins
group_ages = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']
purchase_df2['Age Ranges'] = pd.cut(purchase_df2['Age'], age_bins, labels=group_ages)
#calculating total count
age_count = purchase_df2['Age Ranges'].value_counts()
#calculating percentage of players
age_percentage = (age_count / player_count).mul(100).round(2).astype(str) + '%'

#creating a DataFrame using the prior calculations
age_summary_df = pd.DataFrame({'Total Count': age_count, 'Percentage of Players': age_percentage})
age_summary_df = age_summary_df.sort_index()

#print results
age_summary_df

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

# Purchasing Analysis (Age)

In [58]:
#creating the bins in which Data will be held
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
#creating the names for the bins
group_ages = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']
purchase_data_df['Age'] = pd.cut(purchase_data_df['Age'], age_bins, labels=group_ages)
#calculating purchase count
age_purchase_count = purchase_data_df.groupby(['Age']).count()['Price'].rename('Purchase Count')
#calculating average purchase
age_average = purchase_data_df.groupby(['Age']).mean()['Price'].rename('Average Purchase Price')
#calculating total purchase value
age_total = purchase_data_df.groupby(['Age']).sum()['Price'].rename('Total Purchase Value')
#calculating average total purchase
total_age_purchase_aver = age_total / age_summary_df['Total Count']

#creating a DataFrame using the prior calculations
age_purch_summary_df = pd.DataFrame({'Purchase Count': age_purchase_count, 
                                     'Average Purchase Price': age_average,
                                     'Total Purchase Value': age_total,
                                     'Avg Total Purchase per Person': total_age_purchase_aver}).sort_index()

#Data mapping
age_purch_summary_df ['Purchase Count'] = age_purch_summary_df ['Purchase Count'].map('{:,}'.format)               
age_purch_summary_df ['Average Purchase Price'] = age_purch_summary_df ['Average Purchase Price'].map('${:,.2f}'.format)
age_purch_summary_df ['Total Purchase Value'] =age_purch_summary_df ['Total Purchase Value'].map('${:,.2f}'.format)
age_purch_summary_df ['Avg Total Purchase per Person'] =age_purch_summary_df ['Avg Total Purchase per Person'].map('${:,.2f}'.format)               
age_purch_summary_df = age_purch_summary_df.loc[:,['Purchase Count', 'Average Purchase Price', 'Total Purchase Value','Avg Total Purchase per Person']]                 

#print results
age_purch_summary_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

# Top Spenders

In [ ]:
#calculating the purchase count into a group by the SN
spender_purchase_count = purchase_data_df.groupby(['SN']).count()['Price'].rename('Purchase Count')
#calculating the average purchase price into a group by the SN
spender_average = round(purchase_data_df.groupby(['SN']).mean()['Price'].rename('Average Purchase Price'), 2)
#calculating total purchase value into a group by the SN
spender_total = purchase_data_df.groupby(['SN']).sum()['Price'].rename('Total Purchase Value')
#Creating a DataFrame using the prior calculations
spender_summary_df = pd.DataFrame({'Purchase Count': spender_purchase_count, 
                                  'Average Purchase Price': spender_average,
                                  'Total Purchase Value': spender_total}).sort_index()

spender_summary_df.sort_values(['Total Purchase Value'], inplace=True, ascending=False)
#print results
spender_summary_df.head(5)

# Most Popular Items

In [ ]:
#creating a group by item ID and item name
grouped_items_df = purchase_data_df.groupby(['Item ID', 'Item Name'])
#calculating the purchase count 
item_purchase_count = grouped_items_df['Price'].count()
#calculating the average purchase price 
item_average = round(grouped_items_df['Price'].mean(), 2)
#calculating total purchase value 
item_total =grouped_items_df ['Price'].sum()
#Creating a DataFrame using the prior calculations
item_summary_df = pd.DataFrame({'Purchase Count': item_purchase_count, 
                                  'Average Purchase Price': item_average,
                                  'Total Purchase Value': item_total})

#Creating a DataFrame using the prior calculations
item_summary_df.sort_values(['Purchase Count'], inplace=True, ascending=False)
#print results
item_summary_df.head(5)

# Most Profitable Items

In [ ]:
#Creating a DataFrame using the prior calculations
item_summary_df.sort_values(['Total Purchase Value'], inplace=True, ascending=False)
#print results
item_summary_df.head(5)